.project-card {
	background-image: url("dust_scratches.png");
	background-size: cover;
	height: 300px;
	display: grid;
	grid-template-rows: 10% 45% 30% 15%;
}

@media only screen and (max-width: 90em) {
	.project-card {
		height: 400px;
	}
}

.justify-evenly {
	justify-content: space-evenly;
}