.card-height {
	height: 300px;
}

.card-grid {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr 1fr;
}

.card-background {
	background-image: url("dust_scratches.png");
	background-size: cover;
}

@media only screen and (max-width: 48em) {
	.card-height {
		height: 400px;
	}
}