a.headerNavLink {
  text-decoration: none;
}

a.headerNavLink:hover {
	color: #e9e5e3;
	transition: .5s;
}

a.activeRoute {
  color: #9e6228;
}

.header-background {
	background-image: url("ep_naturalwhite.png");
}