@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica&display=swap');

.font-title {
	font-family: 'IM Fell DW Pica', serif;
}

.font-subtitle {
	font-family: 'Julius Sans One', sans-serif;
}

.font-main {
	font-family: 'Open Sans Condensed', sans-serif;
}

.bg-offwhite {
	background-color: #e9e5e3;
}

.bg-light-bluegray {
	background-color: #aab1b3;
}

.bg-lighttan {
	background-color: #c09e72;
}

.bg-darktan {
	background-color: #9e6228;
}

.fc-offwhite {
	color: #e9e5e3;
}

.fc-light-bluegray {
	color: #aab1b3;
}

.fc-dark-bluegray {
	color: #394545;
}

.fc-lighttan {
	color: #c09e72;
}

.fc-darktan {
	color: #9e6228;
}

a {
	color: #394545;
}

a:visited {
	color: #394545;
}